.cart {
  background: var(--yellow);
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 220px;
  padding-top: 70px;
}

.cart img {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: .3rem;
}

.cart li {
  border-bottom: 2px solid var(--dark-blue);
  padding-bottom: 16px;
  text-align: center;
}

.product-info {
    margin: 5px 0;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.plus-button {
    background-color: var(--dark-blue);
    color: var(--yellow);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
}

.plus-button:hover,
.clear-button:hover {
    background-color: var(--medium-blue);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-button {
    background-color: var(--dark-blue);
    color: var(--yellow);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px 20px;
}

.cart-button {
  align-items: center;
  background: var(--dark-blue);
  color: var(--yellow);
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 20px;
  top: 0;
  transition: all 0.3s ease;
  width: 32px;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}
