.filters {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
}

.filters > div {
    display: flex;
    gap: 1rem;
    margin-bottom: 5px;
    margin-left: 10px;
}

/* Tablet devices */
@media (min-width: 576px) {
}

/* Laptop devices */
@media (min-width: 768px) {
    .filters {
        justify-content: space-between;
        flex-direction: row;
        margin: 0 20px;
    }
    .filters > div {
        margin-bottom: 0;
        margin-left: 0;
    }
}
/* Desktop */
@media (min-width: 992px) {
}
/* Large devices */
@media (min-width: 1200px) {
}

/* XXL devices */
@media (min-width: 1400px) {
}

